.cabecalho__direita-esquerda__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets/header/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}