.topicos {
    background: var(--cor-azul-degrade);
    text-align: center;
    padding: 2.25em 0;
}

.topicos__titulo {
    color: var(--cor-branca);
    font-weight: 300;
    margin-bottom: 1.25em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__lista__item {
    margin: 1.5em 0.25em;
}

.topicos__lista__item__link {
    background-color: var(--cor-laranja);
    color: var(--cor-branca);
    font-weight: 700;
    padding: 1em 2.2em;
    text-decoration: none;
    font-size: 0.875rem;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 1.5rem;
    }

    .topicos__lista__item {
    margin: 2.5em 0.5em;
    }
    
    .topicos__lista__item__link {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 30vw;
    }
}